@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Poppins", sans-serif;
}
img{
    float: left;
    padding: 100px 0px 50px;
    height: auto;
    width: 35%;
}
h1 span{
    color: greenyellow;
}
.ewan{
    margin: 100px;
}
.baba1{
    background-image: url(green.png);
    z-index: 1;
}
.goback{
    text-decoration: none;
    color: white;
}
body{
    background-color: burlywood;
}
